<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">-->
    <title>Dashboard</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2 class="navbar-brand font-weight-bold">FakeCSV</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Schemas <span class="sr-only">(current)</span></a>
      </li>
    </ul>
     <ul class="navbar-nav mr-auto my-2 my-lg-0">
       <li class="nav-item">
           <a class="nav-link disabled" href="#">Hello, <span class="font-weight-bold">{{ user.get_username }}</span>.</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/logout">Logout</a>
       </li>
    </ul>

  </div>
</nav>
{% if schemas %}
    <h1 class="my-2 font-weight-bold">Data schemas</h1>
    <div class="form-group w-25 float-right">
        <a class="btn btn-success w-20" href="/new_schema" role="button">New schema</a>
    </div>
    <table class="table table-bordered w-50">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Modified</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for schema in schemas %}
            <tr>
              <th scope="row">{{ schema.pk }}</th>
              <td>{{ schema.name }}</td>
              <td>{{ schema.last_modified }}</td>
              <td>
                  <a href="/schema/{{ schema.pk }}/edit">Edit scheme</a>
                  <a href="/schema/{{ schema.pk }}/generate_data">Generate data</a>
                  <a href="/schema/{{ schema.pk }}/delete">Delete scheme</a>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

</body>
</html>
