<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{% if user.is_authenticated %}
    <p>Hello, {{ user.get_username }}.</p>
    <a href="/logout">logout</a>

    <h1>Data schemas</h1>
    <a href="/new_schema">New schema</a>

    {% for schema in schemas %}
        <p>{{ schema.pk }} | {{ schema.name }} | {{ schema.last_modified }}</p>
        <a href="/schema/{{ schema.pk }}/edit">Edit scheme</a>
        <a href="/schema/{{ schema.pk }}/delete">Delete scheme</a>


    {% endfor %}
{% endif %}
</body>
</html>