{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Data sets</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h2 class="navbar-brand font-weight-bold">FakeCSV</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Schemas <span class="sr-only">(current)</span></a>
          </li>
        </ul>
         <ul class="navbar-nav mr-5 my-2 my-lg-0">
           <li class="nav-item">
               <a class="nav-link disabled" href="#">Hello, <span class="font-weight-bold">{{ user.get_username }}</span>.</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/logout">Logout</a>
           </li>
        </ul>

      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h2 class="my-3 ml-4 font-weight-bold">Data sets</h2>
            </div>

            <div class="d-flex my-3">
                <label for="rows-input" class="p-2">Rows:</label>
                <input id="rows-input" type="number" class="form-control col-lg-2 p-2" min="0"/>
                <a id="link" onclick="addURL()" href="data_sets/generate_data/rows/" class="my-1 ml-5 btn btn-success p-2">
                    Generate data
                </a>

            </div>
        </div>
    </div>

    <table class="table table-bordered ml-5 w-50">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Created</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for count, csv_file in csv_files %}
            <tr>
              <th scope="row">{{ count }}</th>
              <td>{{csv_file.created}}</td>
                <td><a href="#" class="btn btn-success">{{csv_file.status}}</a></td>
              <td>
                  <a  href="{{csv_file.public_link}}" download>Download</a>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    {% block javascript %}
    <script>
        function addURL(){
            let rowsInput = document.getElementById('rows-input').value.trim();
            let link = document.getElementById('link');
            link.href = "data_sets/generate_data/rows/" + rowsInput;
        }

    </script>
    {% endblock javascript %}
</body>
</html>
