<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h2 class="navbar-brand font-weight-bold">FakeCSV</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Schemas <span class="sr-only">(current)</span></a>
          </li>
        </ul>
         <ul class="navbar-nav mr-auto my-2 my-lg-0">
           <li class="nav-item">
               <a class="nav-link disabled" href="#">Hello, <span class="font-weight-bold">{{ user.get_username }}</span>.</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/logout">Logout</a>
           </li>
        </ul>

      </div>
    </nav>

    <h1>New Schema</h1>
    <form action="" method="POST" class="form">
        {% csrf_token %}
        <div class="float-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <label for="schemaName">Name</label>
        <div class="form-group">
            <input id="schemaName" type="text" class="form-control w-25" value="{{ schema_form.name.value | default_if_none:''}}" name="{{ schema_form.name.name }}">
        </div>

        <label for="schemaColumnSeparator">Column separator</label>
        <div class="form-group">
            <select id="schemaColumnSeparator" name="{{ schema_form.column_separator.name }}" class="custom-select w-25">
                {% for key, value in column_separator_types %}
                    <option value="{{key}}" {% if key == schema_form.column_separator.value %}selected="selected"{% endif %}>
                        {{value|capfirst}}
                    </option>
                {% endfor %}
            </select>
        </div>

        <label for="schemaStringCharacter">String character</label>
        <div class="form-group">
            <select id="schemaStringCharacter" name="{{ schema_form.string_character.name }}" class="custom-select w-25">
                {% for key, value in string_character_types %}
                    <option value="{{key}}" {% if key == schema_form.string_character.value %}selected="selected"{% endif %}>
                        {{value|capfirst}}
                    </option>
                {% endfor %}
            </select>
        </div>
        {{formset.as_p}}

        <!--<h1>Schema columns</h1>-->
        <!--<table>-->
            <!--<tbody>-->
            <!--{{ formset.management_form }}-->
                <!--{% for form in formset %}-->

                <!--<tr>-->
                    <!--<th>-->
                        <!--<label for="{{ form.name.id }}">Column name</label>-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-input" name="{{ form.name.name }}" value="{{ form.name.value | default_if_none:''}}" id="{{ form.name.id }}">-->
                        <!--</div>-->
                    <!--</th>-->
                    <!--<th>-->
                        <!--<label for="{{ form.type.id }}">Column type</label>-->
                        <!--<div class="form-group">-->
                            <!--<select class="custom-select"  name="{{ form.type.name }}" id="{{ form.type.id }}">-->
                                 <!--<option value="FULL_NAME">Full name</option>-->
                                 <!--<option value="JOB">Job</option>-->
                                 <!--<option value="EMAIL">Email</option>-->
                                 <!--<option value="PHONE_NUMBER">Phone number</option>-->
                                 <!--<option value="COMPANY_NAME">Company name</option>-->
                                 <!--<option value="TEXT">Text</option>-->
                                 <!--<option value="INTEGER">Integer</option>-->
                                 <!--<option value="ADDRESS">Address</option>-->
                                 <!--<option value="DATE">Date</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</th>-->

                    <!--{% if form.from_range.value and  form.to_range.value is not None %}-->
                    <!--<th>-->
                        <!--<label for="{{ form.from_range.id }}">From</label>-->
                        <!--<div class="form-group">-->
                            <!--<input type="number" class="form-input" name="{{ form.from_range.name }}" value="{{ form.from_range.value }}" min="0" id="{{ form.from_range.id }}">-->
                        <!--</div>-->
                    <!--</th>-->

                    <!--<th>-->
                        <!--<label for="{{ form.to_range.id }}">To</label>-->
                        <!--<div class="form-group">-->
                            <!--<input type="number" class="form-input" name="{{ form.to_range.name }}" value="{{ form.to_range.value }}" min="0" id="{{ form.to_range.id }}">-->
                        <!--</div>-->
                    <!--</th>-->
                    <!--{% else %}-->
                    <!--<th>-->

                    <!--</th>-->
                    <!--<th>-->

                    <!--</th>-->
                    <!--{% endif %}-->

                    <!--<th>-->
                        <!--<label for="{{ form.order.id }}">Order</label>-->
                        <!--<div class="form-group">-->
                            <!--<input type="number" class="form-input" name="{{ form.order.name }}" value="{{ form.order.value }}" min="0" id="{{ form.order.id }}">-->
                        <!--</div>-->
                    <!--</th>-->

                    <!--<th>-->

                    <!--</th>-->

                <!--</tr>-->

                <!--{% endfor %}-->

            <!--</tbody>-->
        <!--</table>-->
    </form>
</body>

</html>